<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Make A Poll!</h1>
    <p class="lead"></p>
    <i class="fa fa-bar-chart fa-5x"></i>
  </div>
</header>
<div class="container">
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Current Polls:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="poll in Polls">
      <a ng-click="handleClick(poll)" style="cursor: pointer;" ><li>{{poll.title}}</li></a>
        <li>{{poll.options}}</li>
      </ul>
    </div>
  </div>
</div>
  

